html, body {
    margin: 0;
}
li {
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
    display: inline;
    font-size: 18pt;
    text-align: left;
    color: #16a085;
}
ul {
    padding-left: 332px;
    padding-top: 32px;
}
.li2 {
    padding-left: 65px;
}
.li3 {
    padding-left: 70px;
}
.li4 {
    padding-left: 78px;
}
.main_photo {
   padding-top: 35px;
    width: 1280px;
    height: 790px;
}
.header {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 59px;
    padding-left: 342px;
    text-align: left;
    text-transform:uppercase;
    color: rgba(55, 55, 55, 255);
}
.p1 {
    font-family: 'Roboto', sans-serif;
    padding-top: 34px;
    padding-left: 113px;
    padding-right: 108px;
    text-align: center;
    color: rgba(55, 55, 55, 255);
    font-size: 16pt;
}
.p2 {
    font-family: 'Roboto', sans-serif;
    padding-left: 113px;
    padding-right: 108px;
    text-align: center;
    color: rgba(55, 55, 55, 255);
    font-size: 16pt;
}
.button {
    background-color: #16a085;
    border: 0;
    border-radius: 5px 5px;
    width: 192px;
    height: 51px;
    margin-left: 527px;
    margin-top: 41px;
}
.p_button {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    text-transform:uppercase;
    color: rgba(255, 255, 255, 255);
}
.page {
    width: 1280px;
    height: 1626px;
}
.main_menu {
    width: 1280px;
}
.text {
    padding-top: 0px;
    width: 1280px;
    height: 650px;
    background-color: #f5f6f7;
}
.copyright {
    text-align: left;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    font-family: 'Roboto', sans-serif;
    margin-top: 47px;
    margin-left: 768px;
}
a {
    text-decoration: none;
    color: #16a085;
}
